body {
    background-color: #eee;
}
.collapse{
    border-collapse: collapse;
}

table{
    width: 100%;
    text-align: center;
}
table tr{
    background-color: #8FECC9;
}

.autocomplete{
    position: relative;
    display: inline-block;
}
/*your code here*/
