body {
    background-color: #eeeeee;
    padding : 0px;
    margin : 0px;
}
.collapse{
    border-collapse: collapse;
}
.crop{
    padding : 0px;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-position-x: center;
}
.crop img{
    display: inline;
    margin-left: -25%;
    height: 100%;
    width: auto; 
}
table{
    width: 100%;
    margin-bottom: 0;
    display: table;
    text-align: center;
}
table th{
    background-color: #8FECC9;
    font-size: 20px;
    height: 50px;
}

.autocomplete{
    position: relative;
    display: inline-block;
}

.findgroup{
    background-color: #E7FDF5;
}

.inner_table{
    padding-left: 30px;
    padding-right: 30px;
}

button{
    background-color : #FFF;
    border-style : solid;
    border-width : 1.5px;
    border-radius : 20px;
    border-color : #173143;
    font-size : 12px;
    color : #173143;
    margin-bottom : 5px;
    font-family : 'Baloo Thambi 2', cursive;
    font-weight: bold;
}


label, input { display:block; font-family : 'Baloo Thambi 2', cursive;}
input.text { margin-bottom:12px; width:95%; padding: 10px; font-family : 'Baloo Thambi 2', cursive;}
fieldset { padding:0; border:0; margin-top:25px; font-family : 'Baloo Thambi 2', cursive;}
h1 { font-size: 1.2em; margin: .6em 0; font-family : 'Baloo Thambi 2', cursive;}
.ui-dialog .ui-state-error { padding: .3em; }
.restaurant-name { border: 1px solid transparent; padding: 0.3em; font-family : 'Baloo Thambi 2', cursive;}
.validateTips, .sendtogroup{font-family : 'Baloo Thambi 2', cursive;}
/*your code here*/
