.price-dd-choose {
    width: 610px;
    height: 80px;
    float: left;
}
.price-range {
    height: 40px;
    margin-top: 40px;
    position: relative;
}
.price-range .price-range-slider {
    width: 570px;
    height: 6px;
    overflow: hidden;
    position: absolute;
    top: 25px;
    left: 10px;
    background-color: #f8f8f8;
}
.price-range .bg-darkgrey, .price-range .bg-darkgrey-hand {
    left: 0;
    width: 570px;
    position: absolute;
    top: 0;
    height: 5px;
    overflow: hidden;
}
.price-range .bg-darkgrey {
    background-color: #ccd3e4;
}
.price-range .bg-darkgrey-hand {
    cursor: pointer;
    z-index: 5;
}
.price-range .slider-ul {
    width: 570px;
    height: 5px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
    margin:0;
}
.price-range .slider-ul li {
    width: 57px;
    height: 10px;
    float: left;
    position: relative;
}
.price-range .slider-ul li.slider-ul-first {
    width: 34px;
}
.price-range .slider-ul li .icon-dian {
    width: 3px;
    height: 5px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    right: -4px;
    _top: 1px;
    background: #fff;
}
.price-range .slide-selected {
    height: 5px;
    line-height: 0;
    overflow: hidden;
    background-color: #328cff;
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 6;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}

.price-range .btn-price {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 21px;
    z-index: 10;
    cursor: pointer;
    background: #328cff;
    border-radius:50%;
}
.price-range .tip {
    min-width: 100px;
    max-width: 100px;
    position: absolute;
    z-index: 100;
    padding: 2px;
    background: url(../images/shadow_bg.jpg) repeat;
    font-size: 12px;
    float: left;
    top: 40px;
}
.price-range .tip .tip-content {
    min-width: 30px;
    line-height: 22px;
    padding: 0 10px;
    color: #666;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
     position: relative;
    z-index: 1;
}
.price-range .tip .tip-arrow {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    background: url(../images/layer_arrow24.png) no-repeat;
    _background: url(../images/layer_arrow8.png) no-repeat;
}
.price-range .tip .tip-top {
    width: 15px;
    height: 11px;
    top: -8px;
    left: 38%;
    background-position: 0 -26px;
}
.price-range .price-range-text {
    height: 20px;
    color: #999;
}
.price-range .price-range-text .number {
    display: inline-block;
    width: 57px;
    height: 20px;
    line-height: 20px;
    float: left;
}
.price-range .price-range-text .number-first {
    width: 34px;
}