body {
    background-color: white;
    font-family: 'Baloo Thambi 2', cursive;
    padding : 0px;
    margin : 0px;
}
.collapse{
    border-collapse: collapse;
}

#table{
    width: 100%;
    text-align: center;
}

table th{
    background-color: #8FECC9;
    font-size: 20px;
    height: 50px;
}

.months{
  display: flex;
  justify-content: center;
  align-items:center;
  color: gray;
  font-size: 20px;
  padding-top:25px;
}

#month2{
  font-size: 40px;
  color: gray;
  font-weight: bold;
}

.center{
  display: flex;
  justify-content: center;
  align-items:center;
}

#select{
  background-color: DarkOrange;
  font-weight: bold;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 50px;
  padding-right: 50px;
  outline: none;
}

#vf{
  background-color: white;
  font-size: 25px;
  color: grey;
  font-weight: bold;
  width: 50%;
  text-align: left;
  padding-left: 100px;
}

.title{
  padding-left: 100px;
  font-size: 25px;
  color: gray;
  font-weight: bold;
}

.recommendations{
  display: flex;
  justify-content: left;
  width: 100%;
  vertical-align: top;
  text-align: center;
  padding-left: 100px;
}

#more{
  display: none;
}
#more2{
  display:none;
}
.btn_more{
  background-color: white;
  border: 2px solid MediumTurquoise;
  font-size: white;
  font-weight: bold;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 15px;
  color: MediumTurquoise;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  transition-duration: 0.2s;
}

.btn_more:hover {
  background-color: MediumTurquoise;
  color: white;
  border: 2px solid white;
}


