body {
    background-color: white;
    font-family: 'Baloo Thambi 2', cursive;
    padding : 0px;
    margin : 0px;
}
.collapse{
    border-collapse: collapse;
}

#table{
    width: 100%;
    text-align: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items:center;
}

.div_elt{
  color: gray;
  display: flex;
  justify-content: center;
  align-items:center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

#goback{
  background-color: white;
  font-weight: bold;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: smaller;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
}
