body {
    background-color: #e9fcf4;
    font-family: 'Baloo Thambi 2', cursive;
    padding : 0px;
    margin : 0px;
}
.collapse{
    border-collapse: collapse;
}

table{
  width: 320px;
  height: 280px;
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items:center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -160px;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}

#title1{
  font-weight: bold;
  font-size: 80px;
  color: black;
}

#title2{
  font-weight: bold;
  font-size: 80px;
  color: #2BC78C;
}

#start{
  background-color: DarkOrange;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Baloo Thambi 2', cursive;
  color: white;
  border: none;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 50px;
  padding-right: 50px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px #999;
}

#start:hover {background-color: #e67e00}

#start:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
